PyWavelets>=1.1.1
cython>=0.29
click
lxml
beautifulsoup4
image_slicer
tqdm
opencv-python
pytesseract
requests
gpsphoto
exifread
piexif
python-slugify
face_recognition>=1.3.0
coloredlogs
attrs
git+https://git@github.com/skysense/imagededup.git@master#egg=imagededup
git+https://git@github.com/skysense/CRAFT-pytorch.git@master#egg=craft-pytorch
git+https://github.com/smarnach/pyexiftool.git@master#egg=pyexiftool
